<!DOCTYPE html>
<html>
  <head>
    <title>AykPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Montserrat:wght@100&display=swap');
    </style>

  </head>

  <body>
  <div class="container">
    <%= render "shared/sidebar" %>
    <%= yield %>
  </div>

  </body>
</html>
